.item{
    display: flex;
    align-items: center;
}

.item_number{
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 28px;
    text-align: center;
    margin-right: 20px;
}

.item_check{
    margin: 0 0 0 24px;
    font-size: 27px;
}

